<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Portal Randkowy</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Użytkownicy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Polubienia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wiadomości</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Wyloguj</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown">
      <a class="dropdown-toggle text-light">
        Witaj {{ authService.decodedToken?.unique_name | titlecase}} <!--aby pierwsza litera była duża-->
      </a>
    
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edytuj profil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Wyloguj</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Uzytkownik" [(ngModel)]="model.username" name="username" required #username="ngModel">
      <input class="form-control mr-sm-2" type="password" placeholder="Haslo" [(ngModel)]="model.password" name="password" required #password="ngModel">
      <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj</button>
    </form>
</nav>

<!--
<pre>
  Formularz wazny: {{loginForm.valid}}
  Formularz ruszony: {{loginForm.touched}}
  Formularz brudny: {{loginForm.dirty}}
  Formularz wartosci: {{loginForm.value | json}}

  
  Nazwa uzytkownika wazny: {{username.valid}}
  Nazwa uzytkownika ruszony: {{username.touched}}
  Nazwa uzytkownika brudny: {{username.dirty}}
  Nazwa uzytkownika wartosci: {{username.value | json}}

  Haslo wazny: {{password.valid}}
  Haslo ruszony: {{password.touched}}
  Haslo brudny: {{password.dirty}}
  Haslo wartosci: {{password.value | json}}
</pre>
-->