<div class="container mt-5">

  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Znajdz swoja druga połówkę</h1>
    <p class="lead">Wejdz aby zobaczyc swoje dopasowania... Wszystko co musisz zrobic to zarejestrować się !</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-3" (click)="registerToggle()">Rejestracja</button>
      <button class="btn btn-info btn-lg">Więcej</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register [valuesFromHome] ="values" (cancelRegister)="cancelRegisterMode($event)"></app-register> 
        <!--Wywołanie innego komponentu w komponencie (rodzic - potomek)  .. oraz przekazanie wartości z obiektu value(Rodzica) 
          do dziecka[valuesFromHome]
        [] - dane wejściowe 
        () - dane wyjściowe-->
      </div>
    </div>
  </div>

</div>

